<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <sectionGroup name="applicationSettings" 
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

            <section name="TournamentTracker" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     requirePermission="false" />
        </sectionGroup>
		<sectionGroup name="system.net" type="System.Net.Configuration.NetSectionGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="defaultProxy" type="System.Net.Configuration.DefaultProxySection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="mailSettings" type="System.Net.Mail.SmtpClient"/>
		</sectionGroup>
    </configSections>
	<appSettings>
		<add key="filePath" value="data"/>
		<add key="higherWins" value="1"/>
		<add key="senderEmail" value="example@gmail.com"/>
		<add key="senderDisplayName" value="Tournament Tracker"/>
		<add key="host" value="smtp.gmail.com"/>
		<add key="port" value="587"/>
		<add key="userName" value="example@gmail.com"/>
		<add key="password" value="examplePassword"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString ="Server=Adriel-PC;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="example@gmail.com">
				<network host="smtp.gmail.com" port="587" userName="example@gmail.com" password="examplePassword" enableSsl="true" defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>